body{
    background-image: url(hatter.jpg) ;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
	letter-spacing: 0.0015em;
	font-size: 5em;
	text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
		-2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
		-4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
		-6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
	text-align: center;
    text-decoration: underline;
}

#lista{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: purple;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 2px 2px darkblue;
    position: absolute;
    top: 10%;
}

#lista1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: purple;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 2px 2px darkblue;
    position: absolute;
    top: 10%;
    left: 43%;
}

#aranycsapat{
    position: absolute;
    left: 15%;
    top: 45%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ccc;
    text-align: center;
}

#aranycsapat1{
    width: 350px;
    height: 300px;
    position: absolute;
    left: 15%;
    top: 50%;
}

#pele{
    position: absolute;
    left: 40%;
    top: 45%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ccc;
    text-align: center;
}

#pele1{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 40%;
}

#ocsi{
    position: absolute;
    left: 62%;
    top: 45%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ccc;
    text-align: center;
}

#ocsi1{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 62%;
}

a{
    position: absolute;
    left: 45%;
    top: 85%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#make{
    position: absolute;
    left: 62%;
    top: 45%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ccc;
    text-align: center;
}